@import "./scss/colors";

:root {
  background-color: $cyan;
  margin: 0px;
}

body {
  margin: 0%;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url(./assets/MerriweatherSans-VariableFont_wght.ttf);
}
